# List
The list class is the most general, representing a sequence of arbitrary objects (including the None object). Lists are
array-based sequences and are zero-indexed. They are perhaps the most used container type in Python. They have many valuable behaviors, including the ability to dynamically expand and contract their capacities as needed.
A list is a referential structure, as it technically stores a sequence of references to its elements.
<img src="list_repr.png" style="width: 600px;">

In [1]:
empty_list = [] # Empty list; same as "empty_list = list()"
str_list = ['red', 'green', 'blue'] # list of strings
int_list = [1, 2, 3, 4, 5] # list of integers
mixed_list = [1, 'dog', 3.5] # list of different types of elements
prime1 = 2
prime2 = 3
primes_list = [prime1, prime2]
a_10 = ['a']*10
print (primes_list)
print (a_10)
print (int_list*4)

[2, 3]
['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### List Operations
#### Accessing and updating Values in Lists
To access values in lists, use the square brackets for slicing along with the index or indices to obtain value available at that index.  
You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator, and you can add to elements in a list with the append() method.

In [2]:
int_list

TypeError: can only concatenate list (not "int") to list

In [8]:
list1 = ['physics', 'chemistry', 1997, 2000]
list1[2]

1997

In [9]:
list1[2] = 2001
list1[2]

2001

In [10]:
list1[2:] = [1, 2]
list1

['physics', 'chemistry', 1, 2]

#### Delete List Elements
To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting or the remove() method if you do not know.

In [6]:
print (list1)
del list1[2];
print ("After deleting value at index 2 : ")
print (list1)
print ("After deleting 'physics' value : ")
list1.remove('physics')
print (list1)

['physics', 'chemistry', 1, 2]
After deleting value at index 2 :
['physics', 'chemistry', 2]
After deleting 'physics' value :
['chemistry', 2]

#### Other Basic List Operations
Lists respond to the + and * operators much like strings; they mean concatenation and repetition here too, except that the result is a new list, not a string.  
In fact, lists respond to all of the general sequence operations we used on strings.

<img src="list_basic.png" style="width: 500px;">

#### Indexing and Slicing

Because lists are sequences, indexing and slicing work the same way for lists as they do for strings.  
Slicing has 3 parameters:
- start,
- end,
- step.

In [12]:
Countries = ['Armenia', 'Russia', 'USA', 'France', 'Spain']
type(Countries)

list

In [14]:
Countries[1:4:2]

['Russia', 'France']

In [2]:
Countries[:] # Return all

['Armenia', 'Russia', 'USA', 'France', 'Spain']

In [3]:
Countries[3] #Returs x3

'France'

In [4]:
Countries[3:] # Return x3,....,xn-1

['France', 'Spain']

In [5]:
v=Countries[:3] #Returns x0,...,x3-1

In [6]:
Countries[1:3] #Returns x1,....,x3-1

['Russia', 'USA']

In [7]:
Countries[::2] # returns x0,x0+2,...

['Armenia', 'USA', 'Spain']

In [8]:
Countries[-1] # returns xn-1

'Spain'

In [9]:
Countries[-2:] #Returns xn-2,...,xn-1

['France', 'Spain']

In [10]:
Countries[:-3] #Returns x0,....,xn-3-1

['Armenia', 'Russia']

#### Built-in List Functions & Methods
Python includes the following list functions:

<img src="list_funcs.png" style="width: 500px;">

Python includes following list methods

<img src="list_methods.png" style="width: 500px;">

# Tuple

The tuple class provides an immutable version of a list. There is one important subtlety. To express a tuple of length one as a literal, a comma must be placed after the element, but within the parentheses. For example, (17,) is a one-element tuple. The reason for this requirement is that, without the trailing comma, the expression (17) is viewed as a simple parenthesized numeric expression.

In [ ]:
empty_tuple = () # same as empty_list = tuple()
one_element_tuple = (7,) # (7) will be integer
str_tuple = ('red', 'green', 'blue')
int_tuple = (1, 2, 3, 4, 5)
mixed_tuple = (1, 'dog', 3.5)
prime1 = 2
prime2 = 3
primes_tuple = (prime1, prime2)

# String

Strings in python are immutable contiguous series of characters delimited by single or double quotes.  
Python don’t have any separate data type for characters so they are represented as a single character string.

In [8]:
stra = 'Hello World! '

print (str)          # Prints complete string
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
Hello World! Hello World!
Hello World! TEST

Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals, as long as the same type of quote starts and ends the string.
The triple quotes are used to span the string across multiple lines. For example, all the following are acceptable.

In [1]:
print ('word')
print ("This is a sentence.")
print ('Don\'t worry')
print ("""This is a paragraph. It is
made up of multiple lines and sentences.""")

word
This is a sentence.
Don't worry
This is a paragraph. It is
made up of multiple lines and sentences.

### Metacharacters

Metacharacters are special characters that when included in a string do specific operation with it. There is a list of metacharacters (escape characters (\n, \t, \a, etc.)) that can be represented with backslash notation.  
An escape character gets interpreted; in a single quoted as well as double quoted strings.  

\n = linefeed (prints the stuff after this on the next line)
<br>
\’ = print a single quote ( ‘ ) in your text
<br>
\” = print a double quote ( “ ) in your text
<br>
\\ = print a backslash ( \ ) in your text

### Raw string

A "raw" string literal is prefixed by an 'r' and passes all the chars through without special treatment of backslashes, so r'x\nx' evaluates to the length-4 string 'x\nx'.

In [16]:
print ("Hello\nWorld")
print (r"Hello\nWorld")
print ('C:\\Python\\')
print (r'C:\\Python\\')

Hello
World
Hello\nWorld
C:\Python\
C:\\Python\\

In [2]:
print("Name\nSurname")

Name
Surname

### String Operations
Below is a list of String specific operations.

| Operator | Description | Example |
| ---|------|------|
| + | Concatenation - Adds values on either side of the operator |a + b will give HelloPython |
| * | Repetition - Creates new strings, concatenating multiple copies of the same string|a*2 will give -HelloHello|
| [] | 	Slice - Gives the character from the given index |a[1:4] will give ell|
| [ start:end:step] | Range Slice - Gives the characters from the given range | a[1] will give e |
| in | 	Membership - Returns true if a character exists in the given string | H in a will give 1|
| not in | Membership - Returns true if a character does not exist in the given string |M not in a will give 1 |
| % | Format - Performs String formatting|See at next section|

In [27]:
a = 'Hello '
b = 'World!'
print ('+', a+b)
print ('*', a*3)
print ('slice', a[1])
print ('range slice', a[1:3])
print ('in', 'e' in a)
print ('not in', 'e' not in a)
print (r'\nHello\n')

print(a[::])
print(a[::2])
print(a[:4])
print(a[2:])
print(a[::-1])

+ Hello World!
* Hello Hello Hello
slice e
range slice el
in True
not in False
\nHello\n
Hello
Hlo
Hell
llo
 olleH

### Formatting with str.format()
This section contains examples of the str.format() syntax.
In most of the cases the syntax is similar to the old %-formatting, with the addition of the {} and with ":" used instead of "%".

Accessing arguments by position:

In [19]:
print('{0} got {1} in {2}'.format('Mane', '5', 'Mathematics'))
print('{} some text {} some text {}'.format('a', 'b', 'c'))
print('something {2} some {1} something {0}'.format('a', 'b', 'c'))
print(' text {2} text {1} text {0}'.format(*'abc'))      # unpacking argument sequence
print('{0}{1}{0}'.format('abra', 'cad'))   # arguments' indices can be repeated

Mane got 5 in Mathematics
a some text b some text c
something c some b something a
 text c text b text a
abracadabra

 More on formatting: <br> 
 https://docs.python.org/3.1/library/string.html#string-formatting,
 <br>
 https://docs.python.org/3/library/stdtypes.html#old-string-formatting

### Built-in String Methods
Below are frequently used built-in methods for string:
<br>
<br>
**len(string)**
<br>
Returns the length of the string.
<br>
<br>
**capitalize()**
<br>
Capitalizes first letter of string
<br>
<br>
**count(str, beg= 0,end=len(string))**
<br>
Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.
<br>
<br>
**endswith(suffix, beg=0, end=len(string))**
<br>
Determines if string or a substring of string (if starting index beg and ending index end are given) ends with suffix; returns true if so and false otherwise.
<br>
<br>
**find(str, beg=0 end=len(string))**
<br>
Determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.
**isdigit()**
<br>
Returns true if string contains only digits and false otherwise.
<br>
<br>
**islower()**
<br>
Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.
<br>
<br>
**replace(old, new [, max])**
<br>
Replaces all occurrences of old in string with new or at most max occurrences if max given.
<br>
<br>
**split(str="", num=string.count(str))**
<br>
Splits string according to delimiter str (space if not provided) and returns list of substrings; split into at most num substrings if given.
<br>
<br>
**strip([chars])**
<br>
Performs both lstrip() and rstrip() on string.
<br>
<br>
**join(seq)**
<br>
Merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.

In [23]:
rstring="i am a Data Scientist! "

print(len(rstring))
print(rstring.capitalize())
print(rstring.count("a"))
print(rstring.endswith(" "))
print(rstring.endswith("!"))
print(rstring.find("am"))
print(rstring.islower())
print(rstring.replace("i am","You are"))
print(rstring.strip())
print(rstring.split())

splitter="am"
print(rstring.split("am"))

23
I am a data scientist!
4
True
False
2
False
You are a Data Scientist!
i am a Data Scientist!
['i', 'am', 'a', 'Data', 'Scientist!']
['i ', ' a Data Scientist! ']

In [22]:
"!".join(["a","b","c","d"])

'a!b!c!d'

# Dictionary
Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.
Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

In [1]:
empty = {}     # empty dictionary
print (empty)
color_dict = {'r': 'Red', 'g': 'Green', 'b': 'Blue'} # list with initial values
print (color_dict)
color_dict = dict([('r', 'Red'), ('g', 'Green'), ('b', 'Blue')]) # list with initial values
print (color_dict)

{}
{'r': 'Red', 'g': 'Green', 'b': 'Blue'}
{'r': 'Red', 'g': 'Green', 'b': 'Blue'}

### Accessing Values in Dictionary
To access dictionary elements, you can use the familiar square brackets along with the key to obtain its value.

In [2]:
print (color_dict['r'])

Red

If we attempt to access a data item with a key, which is not part of the dictionary, we get an error as follows:

In [3]:
print (color_dict['h'])

KeyError: 'h'

### Updating Dictionary
You can update a dictionary by adding a new entry or a key-value pair, modifying an existing entry, or deleting an existing entry as shown below in the simple example:

In [24]:
stu = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

stu['Age'] = 8; # update existing entry
stu['School'] = "DPS School"; # Add new entry
stu["Father Name"]="Babken"

print (stu['Age'])
print (stu['School'])

8
DPS School

### Delete Dictionary Elements
You can either remove individual dictionary elements or clear the entire contents of a dictionary. You can also delete entire dictionary in a single operation.

To explicitly remove an entire dictionary, just use the del statement.

In [26]:
stu = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del stu['Name'] # remove entry with key 'Name'
print (stu)
stu.clear()     # remove all entries in dict
print (stu)
del stu        # delete entire dictionary
print (stu['Age'])

{'Age': 7, 'Class': 'First'}
{}

NameError: name 'stu' is not defined

### Built-in Dictionary Functions & Methods
Python includes the following dictionary operations

<img src="dict_ops.png" style="width: 800px;">

In [36]:
a = {"a": 3, "b": 4, "c": 9}
print (a)
print (list(a.items())) # gettinh items of the dictionary
print (list(a.keys())) # gettinh keys of the dictionary
print (list(a.values())) # getting the values of the dictionary
a["k"] = 6
print(a)
a.update({10:"ten"}) # Adding new key value pair to dictionary
print(a)

{'a': 3, 'b': 4, 'c': 9}
[('a', 3), ('b', 4), ('c', 9)]
['a', 'b', 'c']
[3, 4, 9]
{'a': 3, 'b': 4, 'c': 9, 'k': 6}
{'a': 3, 'b': 4, 'c': 9, 'k': 6, 10: 'ten'}

## set
A set object is an unordered collection of values. Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.   

Python uses curly braces { and } as delimiters for a set. The exception to this rule is that { } does not represent an empty set; for historical reasons, it represents an empty dictionary. Instead, the constructor syntax set( ) produces an empty set.

In [47]:
num_set = {17} # set with one element
print (num_set)
colors = {'red', 'green', 'blue'} # set with 3 elements
print (colors)
hello = set('hello') # will keep unique letters of string "Hello"
print (hello)

{17}
{'green', 'red', 'blue'}
{'e', 'o', 'l', 'h'}

Instances of set provide the following operations:
<img src="set_ops.png" style="width: 700px;">

The following table lists operations available for set:
<img src="only_set_ops.png" style="width: 1300px;">

In [48]:
s1 = set([1, 2])
s2 = set([3, 4])
print (s1.union({6}))

{1, 2, 6}

Sets support set to set comparisons. Two sets are equal if and only if every element of each set is contained in the other (each is a subset of the other). A set is less than another set if and only if the first set is a proper subset of the second set (is a subset, but is not equal). A set is greater than another set if and only if the first set is a proper superset of the second set (is a superset, but is not equal).

In [49]:
c = {1, 2, 3}
d = {1, 2, 3, 4}
print (c < d)
d.remove(3)
print (d)
print (c < d, c > d, c == d)

True
{1, 2, 4}
False False False

#### Union, intersection, difference and symmetric difference

In [50]:
a = set('abracadabra')
b = set('alacazam')

In [51]:
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [52]:
b                                  # unique letters in b

{'a', 'c', 'l', 'm', 'z'}

In [53]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [54]:
a & b                              # letters in both a and b

{'a', 'c'}

In [55]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [56]:
a ^ b                              # letters in a or b but not both  (symmetric difference)

{'b', 'd', 'l', 'm', 'r', 'z'}

# End